[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  VITE_API_URL = "https://futuristcards-api.onrender.com/api"

[[redirects]]
  from = "/api/*"
  to = "https://futuristcards-api.onrender.com/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  port = 3010
  publish = "dist"
